body#commentsModule {
	position: relative;
}

.alert-message {
	display: none;
    width: 300px;
    padding: 30px;
    background: rgba(255, 255, 255, .84);
    position: fixed;
    text-align: center;
    top: 25%;
    left: 50%;
    margin-left: -150px;
    box-shadow: 0 0 40px -20px #000000;
    border: 1px solid #d4d4d4;
    border-radius: 5px;
}

.comment_row [data-evocomments-action="restoreComment"], .comment_row [data-evocomments-action="destroyComment"]{
    display: none;
}

.status-0 {

}

.status-9 {
    text-decoration: line-through;
    opacity: .5;
}

.comment_row.status-9 [data-evocomments-action="deleteComment"], [data-evocomments-action="publishComment"]{
    display: none;
}

.comment_row.status-9 [data-evocomments-action="restoreComment"], .comment_row.status-9 [data-evocomments-action="destroyComment"], .comment_row.status-1 [data-evocomments-action="publishComment"]{
    display: inline-block;
}
